/*
    This is the master(main) page specific CSS3 override file
    Use this to write custom CSS3 code that will be universally accessible

    ---------Standards and Best Practices-------------------
    -- 1. Make sure to always copy and paste this header to each *.js,*.css file to map the important functionality
    -- 2. Use the page specific code sparingly, do your best to write relative Dynamic code - will save time and energy
    -- 3. When reaching Production please "minify" all js/css files to eliminate comments and condense the files
    -- 4. "Min" file naming pattern should be as follows:
            Page specific - "[name].min.[version #].[js/css]"
            Main files    - "main.min.[version #].[js/css]"
    -- 5. Please remove this file from the production version to keep file structure integrity and security reasons
    --------Standards and Best Practices End---------------
*/
/* Custom Fonts */
@font-face {
    font-family: "Futura STD";
    src: url("/fonts/Futura-Std-Bold.otf") format("otf"),
    url("/fonts/Futura-Std-Book.otf") format("otf"),
    url("/fonts/Futura-Std-Heavy.otf") format("otf"),
    url("/fonts/Futura-Std-Medium.otf") format("otf");
}
html, body {
    height: 100%;
    font-family: "Futura STD";
    font-weight:400;
}
main {
    height: 90%;
    width: 100%;
}
main.row {
    width: 100% !important;
    margin: 0px;
}
.mainbody {
    overflow-y: scroll;
    max-height: 100%;
}
header {
    min-height:70px;
    height:10%;
}
/* A element */
a, a:visited, a:active {
    color:#72A4C2;
    text-decoration: none;
}
a:hover {
    color:#72A4C2;
    text-decoration: underline;
}
/* Color Scheme Override */
/* Primary Colors */
.bg-primary, .btn-primary {
    background-color:#F26925 !important;
}
.text-primary {
    color:#F26925 !important;
}
.border-primary, .btn-outline-primary, .btn-primary {
    border-color: #F26925 !important;
}
.btn-primary:hover, .btn-outline-primary:hover, a.bg-primary:hover {
    background-color: #be7e1e !important;
    border-color: #be7e1e !important;
}
/* Secondary Colors */
.bg-secondary, .btn-secondary {
    background-color:#0c7fc7 !important;
}
.border-secondary, .btn-outline-secondary, .btn-secondary {
    border-color: #72A4C2 !important;
}
.btn-secondary:hover, .btn-outline-secondary:hover {
    background-color:#4c83a5 !important;
    border-color: #4c83a5 !important;
}
.text-secondary {
    color:#72A4C2 !important;
}
/* Warning Colors */
.bg-warning, .btn-warning, a.bg-warning {
    background-color:#FCB414 !important;
}
.border-warning, .btn-outline-warning, .btn-warning {
    border-color: #FCB414 !important;
}
.btn-warning:hover, .btn-outline-warning:hover, a.bg-warning:hover {
    background-color: #fc9714 !important;
    border-color: #fc9714 !important;
}
.text-warning {
    color:#FCB414 !important;
}
/* Info Colors */
.bg-info, .btn-info, a.bg-info {
    background-color:#72A4C2 !important;
}
.border-info, .btn-outline-info, .btn-info {
    border-color: #72A4C2 !important;
}
.btn-info:hover, .btn-outline-info:hover, a.bg-info:hover {
    background-color: #4694c4 !important;
    border-color: #4694c4 !important;
}
.text-info {
    color:#72A4C2 !important;
}
/* Light Colors */
.bg-light {
    background-color:#B9B9BA !important;
}
/* Lightens on top of a parent element */
.bg-lighter {
    background-color:rgba(212, 218, 243, 0.342);
}
.text-light, .text-body {
    color:#B9B9BA !important;
}
/* Dark Colors */
/* Darkens on top of a parent element */
.bg-darkest {
    background-color:rgb(27, 30, 41);
}
.bg-darker {
    background-color:rgba(29, 30, 34, 0.342);
}
.bg-dark {
    background-color:#474C55 !important;
}
.text-dark {
    color:#474C55 !important;
}
/* border widths */
.border-thick {
    border-style: solid !important;
    border-width: 10px !important;
    outline: none !important;
}
.border-none {
    border:none !important;
}
.top-nav {
    height: 100% !important;
    font-size: 1rem;
}
.top-nav img{
    height: 100% !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
}
.top-nav a {
    height: 100% !important;
    padding: 13px !important;
}
.top-nav .input-group {
    width: 100% !important;
}
.navbar-collapse {
    opacity: 1 !important;
    background-color:rgba(71, 76, 85, 1.0) !important;
    z-index:1000;
}
/* Navigation settings */
.nav a, .left-nav a {
    color:#B9B9BA;
    font-family:'Lato', sans-serif !important;
    text-overflow: ellipsis !important;
    white-space:nowrap !important;
    overflow: hidden !important;
    font-weight: 600 !important;
}
.nav a .bi {
    min-width: 30px;
    width: 2rem !important;
}
.nav a:hover, .left-nav a:hover {
    background-color:rgba(29, 30, 34, 0.342);
    text-decoration: none;
}
.left-nav {
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
    background-color:#04263c;
}
.left-nav a.nav-link {
    background-color:#4694c4;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-style: solid;
    border-bottom-color: #04263c;
    border-bottom-width: 1rem;
}
.left-nav a.nav-link:hover {
    background-color:#41adf0;
}
.left-nav i {
    font-size: 4rem !important;
    
}
.left-nav .bi {
    min-width: 65px;
    width: 4rem !important;
}

.btn:hover, a:hover {
    transition: 0.3s !important;
    -webkit-transition-duration: 0.3s !important;
    transition-duration: 0.3s !important;
    -webkit-transition-property: color, background-color !important;
    transition-property: color, background-color !important;
}

/* default loading animation for all ajax calls */
.loader {
    border: 0.4rem solid #c4c4ff;
    border-radius: 50%;
    border-top: 0.4rem solid blue;
    border-bottom: 0.4rem solid #c4c4ff;
    height: 20px;
    width: 20px;
    overflow: hidden;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* If you want to place things inside the loader use this */
.loader-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/* Spinner animation */
/* firefox, edge/explorer, safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
/* chrome */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Main content area */
.body-content {
    overflow-y: scroll;
}
/* Search Bar */
#searchLabel {
    cursor: text;
}
#search:focus, #search:focus-visible {
    border:none !important;
}
#search {
    width: max-content;
}
#loginBtn {
    cursor:pointer;
}
#searchSuggestion {
    /*the container must be positioned relative:*/
    position: absolute;
    display: inline-block;
    top:43px;
}
.searchSuggestion-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.searchSuggestion-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.searchSuggestion-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.searchSuggestion-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}